<div 
    class="card" 
    style="background-image:url(resources/Midnight\ City.jpg);padding-bottom: 35px;padding-top: 10px;"
>
    <h3 
        class="card-header text-center text" 
        style="margin-top: 20px;margin-bottom: 60px;"
    >
        Proyectos
    </h3>
    <app-boton-add
        text="{{showAddProyect ? 'Cerrar': 'Agregar Proyecto'}}"
        (btnAddCLick)="abrirAgregarProyecto()"
    ></app-boton-add>

    <app-agregar-proyecto
        (onAddProyect)="addProyect($event)"
    ></app-agregar-proyecto>

    <div class="row row-cols-1 row-cols-md-2 g-4 container-fluid" >
        <app-item-proyecto
            style="margin-top: 20px;"
            *ngFor="let proyect of proyectos"
            [proyect]= "proyect"
            (onDeleteProyect) = "deleteProyect(proyect)"
        ></app-item-proyecto>
    </div>
    
   
</div>