<div class="col" >
    <div class="card" >
        <div 
            class="btn btn-primary" 
            style="position: absolute; right: 3px; top: 3px; z-index: 3; background-color: #777; border-color: #777;" 
            (click)="onDelete(proyect)"
        >
            <svg  
                xmlns="http://www.w3.org/2000/svg" 
                width="16" height="16" 
                fill="currentColor" 
                class="bi bi-x-lg" 
                viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </div>
        <img 
            [src]="proyect.photo" 
            style="width:auto;height: 350px; " 
            class="card-img-top" alt="..."
        >
        <div class="card-body">
            <h5 class="card-title">{{proyect.title}}</h5>
            <p class="card-text">{{proyect.text}}</p>
        </div>
        <a 
            href="" 
            class="btn btn-primary" 
            style="background-color: rgb(108,117,125); border-color: rgb(108,117,125);"
        > 
            Descargar 
        </a>
    </div>
</div>